body {
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {

    
    float: right;
}

nav h1 {
    float:  left;
}

header {
    background-color:  #ff9900;
    overflow:  hidden;

}

div#welcome-box {
    clear:  both;
    background-color:  #3366ff;
    text-align:  center;
    color:  #ff9900;
    word-break: break-all;
}

div#welcome-box h7 {
    font-size:  36px;
    margin-bottom:  5px;
    margin-top:  0px;
}

div#welcome-box p {
    text-align:  center;
    margin:  auto;
    width:  55%;
    color:  #989898;
}


div#welcome-button {
    display: flex;
    justify-content: center;
    background-color:  #3366ff;
    padding-bottom:  20px;
}

button {
    font-size:  22px;
    color:  #3366ff;
    background-color:  #ff9900;
}


div#featured-shows {
    width:  100%;
    text-align:  center;
    color:  #3366ff;
    background-color:  #ff9900;
    font-size:  36px;
        padding-top:  10px;
    padding-bottom:  10px;
}

div#social-media {
    width:  100%;
    text-align:  center;
    color:  #ff9900;
    background-color:  #3366ff;
    font-size:  36px;
    padding-top:  10px;
    padding-bottom:  10px;
}

div#smf {
    overflow:  hidden;
    width:  100%;
    text-align:  center;
    color:  #3366ff;
    background-color:  #ff9900;
    padding-top:  10px;
    padding-bottom:  10px;
}



.flex-container {

  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 10px;
  width: 20%;
  text-align: center;
  color:  #989898;
}


.social-media-features {
    text-align: center;
}


.social-media-photos {
    text-align: center;
    color:  red;
    padding-bottom:  100px;
}

footer {
    overflow:  hidden;
    background-color: #303030;
    color: #989898;
}


