nav li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    float: right;
}

nav h1 {
    float:  left;
}

header {

}

div#welcome-box {
    clear:  both;
    text-align:  center;
    font-size:  50px;
}

div#welcome-button {
    display: flex;
    justify-content: center;

}

button {
    font-size:  24px;
}

h5 {
    text-align:  center;
    font-size:  50px;
    margin:  50px; 
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 20%;
  text-align: center;
}


.social-media-features {
    text-align: center;
}

.social-media-photos {
    text-align: center;
    color:  red;
    padding-bottom:  100px;
}








